* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.nav-links li {
  margin-right: 10px;
}

.icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }

  .icon {
    display: block;
  }

  .navbar {
    position: relative;
  }
}

.show {
  display: flex !important;
}

/*desktop version */
