* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%; /* sidan tar upp hela höjden */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.nav-links a:hover {
  color: black;
  border-bottom: 1px solid white;
}

.nav-links li {
  margin-right: 10px;
}

.icon {
  position: relative;
  z-index: 20;
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}

#hamburger-icon {
  margin-right: auto;
  font-size: 30px;
}

/*så navbaren inte täker innehåll*/
main {
  padding-top: 95px;
  flex-grow: 1; /* main tar upp all tillgänglig plats */
}

/* bakgrunds bilden högst up på hemsidan*/
#resturang-bakgrund {
  background-image: url(img/pizzeria-4918997_1280.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50vw;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#pizza-bakgrund {
  background-image: url(img/pizza-background_1280.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50vw;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

h1 {
  position: relative;
  text-align: center;
}

/* pizza meny */
.meny {
  width: 100%;
  margin: 0 auto;
}

.meny h2 {
  text-align: center;
  margin: 30px;
}

.menyartikel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 20px;
}

/* tarbort border-bottom på sista artikeln */
.menyartikel:last-child {
  border-bottom: none;
}

.artikelinfo h3 {
  margin: 0;
  font-size: 1.2em;
}

.artikelinfo p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: black;
}

.artikelpris {
  font-size: 1.2em;
  font-weight: bold;
}

/* ändarar texten om telefon nummer och öppetider */
#ring-oss {
  position: relative;
  text-align: center;
  line-height: 300%;
  margin: 30px;
  font-size: 1.5rem;
}

#ring-oss a {
  color: black;
  text-decoration: none;
}

#ring-oss a:hover {
  text-decoration: underline;
}

#ring-oss h2 {
  font-size: 1.5rem;
}

#ring-oss h3 {
  font-size: 2rem;
}

#brödtext {
  text-align: center;
  margin: 30px;
}

#brödtext h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#brödtext p {
  font-size: 1rem;
}

/* svart border till texten */
.shadow-border {
  font-size: 5vw;
  color: white;
  text-shadow: 2px 2px 0px black, /* Right shadow */ -2px 2px 0px black,
    /* Left shadow */ 2px -2px 0px black,
    /* Bottom shadow */ -2px -2px 0px black; /* Top shadow */
}

/*Footer längst ner på sidan*/
footer {
  background-color: red;
  color: white;
  text-align: center;
}
/* använder grid för placering */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Två lika stora kolumner */
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto; /* Centrera footern */
  padding: 20px;
}

.footer-section {
  font-size: 1rem;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
  margin-bottom: 16px;
}

.address,
.telefon,
.tid,
.lunch {
  display: block; /* Gör att varje adressrad, telefonnummer och lunchtider hamnar på en ny rad */
  margin-top: 4px; /* Justera utrymme ovanför varje rad */
}

/*navbar för liten skärm + hamburgur meny*/
@media (max-width: 980px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 95px;
    left: 0;
    height: calc(100vh - 95px);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }

  .icon {
    display: block;
  }

  .navbar {
    position: fixed;
  }

  .navbar a:hover {
    border-bottom: none;
  }
}

.show {
  display: flex !important;
}

/* om oss.html texten-*/
#om-oss-beskriving {
  padding: 10%;
  text-align: center;
}
