* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: morion-regular, Arial, sans-serif;
}

.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.nav-links li {
  margin-right: 10px;
}

.icon {
  position: relative;
  z-index: 20;
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}

#hamburger-icon {
  margin-right: auto;
  font-size: 30px;
}

#pizza-bakgrund {
  background-image: url(img/pizzeria-4918997_1280.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 40vw;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  position: relative;
  text-align: center;
}

.shadow-border {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 0px black, /* Right shadow */ -2px 2px 0px black,
    /* Left shadow */ 2px -2px 0px black,
    /* Bottom shadow */ -2px -2px 0px black; /* Top shadow */
}

@media (max-width: 980px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 95px;
    left: 0;
    height: calc(100vh - 95px);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }

  .icon {
    display: block;
  }

  .navbar {
    position: relative;
  }
}

.show {
  display: flex !important;
}

/*desktop version */
